# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Archival Data & Logs
*.jsonl
*.csv
*.log

# Media Downloads
media/

# Recon Vault
recon_vault/

# Environment Variables
.env